@import "tailwindcss";
/* @custom-variant dark (&:where(.dark, .dark *)); */

body {
    background-color: white;
}

/* Custom CSS for the application */
.bg-primary {
    background-color: #00299d;
}

.text-primary {
    color: #00299d;
}

.scroll-hidden {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.scroll-hidden::-webkit-scrollbar {
    display: none;
}